* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

.image {
  justify-content: center;

  max-width: 110px;
  max-height: 100%;
  margin: auto;
  padding: 15px;
}

.name {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.cardList {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #d4d4d0;
}

.card {
  display: grid;
  width: 200px;
  height: 400px;
  align-items: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  /* z-index: 0; */
  padding: 8px 14px;
  background-color: #e9e9e6;
  /* color: rgb(71, 32, 32); */
  box-shadow: 0 5px 15px 0 #adadae;

  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

/* .card.isFlipped {
  transform: rotateY(180deg);
}

.cardFaceBack {
  background: blue;
  transform: rotateY(180deg);
} */
.card:hover {
  background-color: #fff;
  transition: 0.5s;
  transform: scale(1.001);

  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 110px; */

  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(252, 192, 192);
  border-radius: 7px;
  padding: 10px;
}

.two {
  background: #d4d4d0;
  padding: 50px 20px;
  text-align: center;
}
.two h1 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #ce8c72;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}
.two h1:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 6px solid #574c48;
  border-left-color: transparent;
  border-right-color: transparent;
}
